---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import BlogCard from '../../components/BlogCard.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		
	</head>
	<body>
		<Header />
		<main class="w-full flex items-center justify-center">
			<section class="prose prose-md">
				<ul class="flex flex-col gap-2 w-full justify-center items-center">
					{
						posts.map((post) => (
						<BlogCard {...post}/>	
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
