---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { CollectionEntry, getCollection } from "astro:content";
import BlogCard from "../components/BlogCard.astro";
import Hero from "../components/Hero.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
).slice(0,3);
---

<!DOCTYPE html>
<html lang="en" class="p-8 dark">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main class="w-full items-center flex justify-center flex-col"> 
			<Hero/>			
			<section class="prose container w-full prose-h2:my-3 lg:prose-lg sm:prose-sm prose-neutral prose-h1:text-gray-800 prose-h2:text-red-400 flex flex-col gap-2">
				{
					posts.map((post) => (
					<BlogCard {...post} />	
					))
				}
			</section>
		</main>
		<Footer />
	</body>
</html>
