---
const today = new Date();
import { Icon } from "astro-icon";
---

<footer>
	<div>
		<span>Powered By <a href="https://astro.build" class="text-amber-400 underline underline-offset-4"> Astro</a></span>
	</div>
</footer>
<style></style>
