---
import { Icon } from "astro-icon";
---

<section
  class="prose dark:prose-invert border-b-2 p-24 w-full mb-11 border-gray-400 flex flex-col items-center lg:prose-lg md:prose-md sm:prose-sm"
>
  <h2 class="text-blue-400">Fikri Fadillah</h2>
  <h2 class="text-gray-600 dark:text-white"><b>LEARNING</b></h2>
  <div class="flex gap-3">
    <a
      href="mailto:fikrifadilah299@gmail.com"
      class="w-8 p-2 text-gray-100 bg-gray-600 rounded-full"
      ><Icon pack="cib" name="mail-ru" /></a
    >
    <a
      href="https://github.com/hawkf07"
      class="w-8 p-2 text-gray-100 bg-gray-600 rounded-full"
      ><Icon pack="line-md" name="github" /></a
    >
    <a
      href="https://www.linkedin.com/in/fikri-fadillah0007/"
      class="w-8 p-2 text-gray-100 bg-gray-600 rounded-full"
      ><Icon pack="line-md" name="linkedin" /></a
    >
  </div>
</section>
